<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoogleMAP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9E1B9B71E51CC350072B653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9E1B9CB1E51CC350072B653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9E1B9D61E51CC350072B653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
